.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .div {
  background-color: #ffffff;
  width: 1400px;
  height: 700px;
  position: relative;
}

.frame .div-2 {
  position: absolute;
  width: 300px;
  height: 700px;
  top: 0;
  left: 0;
  background-color: #104a76;
}

.frame .ellipse {
  position: absolute;
  width: 182px;
  height: 182px;
  top: 89px;
  left: 59px;
  object-fit: cover;
}

.frame .text-wrapper {
  position: absolute;
  top: 49px;
  left: 98px;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
a {
  font-family: "Lato-Bold", Helvetica;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  text-decoration: none;
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 274px;
  left: 77px;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .div-3 {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 329px;
  left: 0;
}

.frame .group {
  position: relative;
  width: 300px;
  height: 36px;
}

.frame .div-4 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 0;
  left: 18px;
  opacity: 0.9;
}

.frame .proicons-note {
  position: relative;
  width: 30px;
  height: 30px;
}

.frame .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: -0.24px;
  line-height: normal;
}

.frame .vector {
  width: 300px;
  top: 36px;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.frame .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: -0.24px;
  line-height: normal;
}

.frame .div-5 {
  position: absolute;
  width: 1100px;
  height: 700px;
  top: 0;
  left: 300px;
  background-color: #0000000a;
  overflow: hidden;
}

.frame .img {
  position: absolute;
  width: 284px;
  height: 53px;
  top: 50px;
  left: 407px;
}

.frame .overlap-group-wrapper {
  position: absolute;
  width: 1100px;
  height: 57px;
  top: 143px;
  left: 0;
  overflow: hidden;
  box-shadow: 0px 4px 4px #00000040;
}

.frame .overlap-group {
  position: relative;
  width: 1101px;
  height: 57px;
  left: -1px;
  background-color: #21a4d0;
}

.frame .rectangle {
  position: absolute;
  width: 140px;
  height: 8px;
  top: 49px;
  left: 281px;
  background-color: #ffffff;
}

.frame .div-6 {
  display: inline-flex;
  align-items: center;
  gap: 120px;
  position: absolute;
  top: 19px;
  left: 315px;
}

.frame .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Lato-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .div-7 {
  display: flex;
  flex-direction: column;
  width: 1101px;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 228px;
  left: -1px;
}

.frame .div-8 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 194px;
  overflow: hidden;
}

.frame .div-9 {
  display: flex;
  flex-direction: column;
  width: 712px;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  top: 0;
  left: 63px;
}

.frame .pedido-n-ID {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  opacity: 0.9;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: normal;
}

.frame .span {
  color: #000000;
  letter-spacing: -0.05px;
}

.frame .text-wrapper-7 {
  color: #c41818e6;
  letter-spacing: -0.05px;
}

.frame .group-2 {
  position: relative;
  width: 712px;
  height: 146px;
}

.frame .div-10 {
  display: flex;
  flex-direction: column;
  width: 91px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.frame .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  opacity: 0.9;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: normal;
}

.frame .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  opacity: 0.9;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: -0.24px;
  line-height: normal;
}

.frame .div-11 {
  display: flex;
  flex-direction: column;
  width: 85px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 0;
  left: 155px;
}

.frame .div-12 {
  display: flex;
  flex-direction: column;
  width: 34px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 0;
  left: 304px;
}

.frame .div-13 {
  display: flex;
  flex-direction: column;
  width: 53px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 0;
  left: 456px;
}

.frame .div-14 {
  display: flex;
  flex-direction: column;
  width: 42px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 71px;
  left: 0;
}

.frame .div-15 {
  display: flex;
  flex-direction: column;
  width: 57px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 71px;
  left: 169px;
}

.frame .div-16 {
  display: flex;
  flex-direction: column;
  width: 99px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 71px;
  left: 304px;
}

.frame .div-17 {
  display: flex;
  flex-direction: column;
  width: 39px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 71px;
  left: 456px;
}

.frame .div-18 {
  display: flex;
  flex-direction: column;
  width: 69px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 0;
  left: 608px;
}

.frame .div-19 {
  display: flex;
  flex-direction: column;
  width: 104px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 71px;
  left: 608px;
}

.frame .grabar-la-fecha {
  position: relative;
  align-self: stretch;
  height: 50px;
  opacity: 0.9;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: -0.24px;
  line-height: normal;
}

.frame .vector-2 {
  width: 1099px;
  top: 194px;
  left: 1px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.frame .text-wrapper-10 {
  position: absolute;
  height: 18px;
  top: 5px;
  left: 952px;
  opacity: 0.9;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #21a4d0;
  font-size: 12px;
  letter-spacing: -0.24px;
  line-height: normal;
  text-decoration: underline;
}

.frame .div-20 {
  display: flex;
  flex-direction: column;
  width: 140px;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  top: 73px;
  left: 902px;
}

.frame .div-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #21a4d0;
  border-radius: 8px;
}

.frame .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  letter-spacing: -0.24px;
  line-height: normal;
}

.frame .div-wrapper-2 {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
  border: 1px solid;
  border-color: #21a4d0;
}

.frame .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #21a4d0;
  text-align: center;
  font-size: 12px;
  letter-spacing: -0.24px;
  line-height: normal;
}

.frame .text-wrapper-13 {
  position: absolute;
  height: 18px;
  top: 5px;
  left: 952px;
  opacity: 0.9;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #21a4d0;
  text-align: right;
  text-decoration: underline;
  font-size: 12px;
  letter-spacing: -0.24px;
  line-height: normal;
}

.frame .div-21 {
  display: flex;
  flex-direction: column;
  width: 42px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 71px;
  left: 25px;
}

.frame .vector-3 {
  position: absolute;
  width: 1100px;
  height: 1px;
  top: -316px;
  left: -53px;
  object-fit: cover;
}
